@import "./infoBox";
@import "./layout";
@import "./musicPlayer";

/* overwriting layout.css */
#hero-background {
  background-repeat: no-repeat;
  background-image: url("../avif/header-home.avif"),
    url("../headers/header-home.jpg");
  background-position: center top;
  background-size: 100%;
  height: auto;
  width: auto;
}

#main-title {
  line-height: 1.5em;
  padding: 2.5vw 0px 2.5vw;
}

/* heading */
.heading {
  padding-top: 9em;
  padding-bottom: 2em;
  text-align: left;
  font-weight: 800;
}

@media (max-width: 350px) {
  .heading h2 {
    font-size: 1.4em;
  }

  .heading h3 {
    font-size: 1.4em;
  }
}

/* content boxes */
.content-box {
  min-width: full;
  height: auto;
  padding: 4em 3em;

  .content-devided {
    display: flex;
    align-items: center;

    p {
      padding-right: 2em;
    }
    #LIM2 {
      width: 30%;
    }
    #MetalMassacer {
      width: 30%;
    }
    #Zyklopenair {
      width: 30%;
    }

    .albumCover {
      width: 80%;
      #flyer {
        width: 20vw;
      }
      img {
        max-width: 500px;
        max-height: 500px;
        width: 100%;
      }
    }
    .castingPic {
      width: 100%;
      img {
        padding: 7px 0px;
        max-width: 500px;
        max-height: 500px;
        width: 20vw;
      }
    }
  }

  .post-time {
    float: right;
  }
}

.light-content-box {
  background-color: rgba(255, 255, 255, 0.158);
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.9);
}

.dark-content-box {
  background-color: rgba(27, 4, 4, 0.479);
  box-shadow: 0px 0px 15px 11px rgb(0, 0, 0);
}

.show-row {
  .show-preview {
    a {
      font-size: inherit;
      color: white;
    }

    .image-div {
      height: 18vw;
      overflow: hidden;

      img {
        object-fit: cover;
      }
    }

    .padding-div {
      padding: 2em;
      background: -webkit-linear-gradient(
        90deg,
        rgba(20, 0, 0, 0.9),
        rgba(66, 0, 0, 0.9)
      );
      border-radius: 0px 0px 5px 5px;

      .live-date {
        letter-spacing: 0.3em;
      }
    }
  }
}

.about-us-row {
  background-color: rgb(14, 15, 17);

  .right-half-inner {
    padding: 2em;
    display: flex;
    flex-direction: column;

    h4 {
      text-align: center;
      padding: 2em 0px 2em 0px;
    }

    .cta-about-us {
      background-color: #ec3030;
      border-radius: 3px;
      border: none;
      color: white;
      padding: 1em 2em;
      text-transform: uppercase;
      word-spacing: 0.5em;
      margin-top: 3em;
    }
  }
}

.cta-media {
  background-color: transparent;
  border-radius: 3px;
  border-width: medium;
  border-color: $primaryColor;
  color: $primaryColor;
  padding: 1em 2em;
  text-transform: uppercase;
  word-spacing: 0.5em;
  margin-top: 3em;
}

.hiddenNews {
  display: none !important;
}

#show-more-btn {
  background: none;
  color: $primaryColor;
  border: 2px solid $primaryColor;
  display: flex;
  width: -webkit-fill-available;
  justify-content: center;
  padding: 0.5em 0em;
}

.TMM-section {
  background: url("../homeAssets/StoneBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5em;
  border-radius: 5px;

  #demoTracks {
    display: none;
  }

  .player-container > div {
    position: relative;
  }

  .player-container {
    height: 170vw;
  }

  .TMM-left-side {
    padding-left: 2em;
  }
  .TMM-right-side {
    padding: 2em;

    img {
      padding-bottom: 2em;
    }
  }
}

@media (max-width: 786px) {
  .post-time {
    text-align: right;
    float: none !important;
  }

  .content-devided {
    flex-direction: column;

    #LIM2 {
      min-width: 50%;
    }

    #MetalMassacer {
      min-width: 50%;
    }

    #Zyklopenair {
      min-width: 50%;
    }

    p {
      padding-right: 0em;
    }

    .albumCover {
      img {
        min-width: 60%;
        margin: 2em 0px;
      }
    }
  }
  .player-container {
    height: 55vw !important;
  }
}

@media (min-width: 786px) {
  .player-container {
    height: 55vw !important;
  }
}

@media (min-width: 980px) {
  .player-container {
    height: 40vw !important;
  }
}

@media (max-width: 576px) {
  .TMM-left-side {
    padding-left: 0em;
    margin: -13em 0em -13em 0em;
  }

  .content-box {
    padding: 2em 1em;
  }

  #mainContent {
    padding: 1em;
  }

  .player-container {
    height: 188vw !important;
  }

  .albumCover {
    img {
      min-width: 250px;
      max-width: 250px !important;
    }
  }
}

@media (max-width: 450px) {
  .TMM-left-side {
    padding-left: 0em;
    margin: -9em 0em -9em 0em;
  }

  .TMM-right-side {
    font-size: 1.1rem;
  }

  .content-box > p {
    font-size: 1.1rem;
  }

  // #mainContent{
  //     margin: 0em -1em;
  // }

  .heading {
    padding-top: 6em;
  }
}

@media (max-width: 760px) {
  .image-div {
    height: 250px !important;
  }

  .castingPic {
    img {
      min-width: 250px;
      max-width: 250px !important;
    }
  }
  #LIM2-picture {
    text-align: center !important;
  }
  #MetalMassacer-picture {
    text-align: center !important;
  }
}

@media (max-width: 450px) {
  .image-div {
    height: 180px !important;
  }
}

@media (min-width: 1400px) {
  .player-container {
    height: 30vw !important;
  }

  .content-box {
    .content-devided {
      .albumCover {
        width: 50%;
      }
      .castingPic {
        img {
          width: 15vw;
        }
      }
    }
  }
}

@media (min-width: 1700px) {
  .image-div {
    height: 250px !important;
  }
}

@media (min-width: 1800px) {
  .TMM-right-side {
    max-width: 900px !important;
    margin-left: auto;
  }
}

#LIM2-picture {
  text-align: end;
}

#MetalMassacer-picture {
  text-align: end;
}
