@import "./lightbox";
@import "./infoBox";
@import "./musicPlayer";
@import "./layout";

#hero-background {
  @include heroBackground(url("../headers/header-media.jpg"));
}

/* heading style */
h2 {
  font-size: 2rem;
  padding-top: 4em;
}

@media (max-width: 750px) {
  h2 {
    font-size: 1.6em;
  }
  #demoTracks {
    padding-top: 6em;
  }

  #main-title {
    visibility: hidden;
  }
}

@media (max-width: 680px) {
  #demoTracks {
    padding-top: 8em;
  }
}

@media (max-width: 500px) {
  #demoTracks {
    padding-top: 15em;
  }
}

/* info box styling */
#info-box {
  div:first-child {
    padding: 2em;
  }

  li {
    display: inline-block;
    padding: 0.3em 1em;
  }

  a {
    color: $primaryColor !important;
    font-size: 1em !important;
  }

  div:nth-child(2) {
    padding: 0em 0em;
  }
}

@media (max-width: 500px) {
  #info-box {
    h3 {
      font-size: 1.4rem;
    }

    li {
      display: block;
      padding: 0.5em 1em;
    }
  }
}

/* styling Video Section */
#videoSection {
  h2 {
    font-size: 1.6em;
  }

  a > img {
    padding-top: 16px;
  }

  img {
    width: 80%;
  }
}

@media (max-width: 926px) {
  #videoSection h2 {
    font-size: 1.25em;
  }
}

@media (max-width: 450px) {
  #videoSection img {
    width: 100%;
  }
}