@import "./layout";
@import "./infoBox";

/* setting header picture */
#hero-background {
  @include heroBackground(url("../headers/header-merch-min.jpg"));
}

/* hiding page title */
.hero h1 {
  visibility: hidden;
}

/* 
info box stylings 
*/
#info-box {
  div:first-child {
    padding: 2.7em 0em 1.5em 0em;
  }
}

@media (min-width: 750px) {
  @keyframes infoBoxAnimation {
    0% {
      top: 40vw;
    }
    100% {
      top: 35vw;
    }
  }
}

@media (max-width: 750px) {
  #info-box {
    h2 {
      font-size: 1.7rem;
    }
  }
}

@media (max-width: 550px) {
  #info-box {
    h2 {
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 400px) {
  #info-box {
    h2 {
      font-size: 1.1rem;
    }
  }
}

/*
product card styling 
*/
.products {
  padding: 8em 0px 0em 0px;
  margin: 0;

  .product {
    padding: 0;
    margin: 0 3.5em 3em 0;

    .prodContainer {
      box-shadow: 0 0 10px #000000;

      .prodImage {
        border-radius: 2px 2px 0px 0px;
        overflow: hidden;

        .bgImages {
          transition: transform 0.3s linear;
          &:hover {
            transform: scale(1.05);
          }
        }

        #imgFront,
        #imgPatch,
        #imgBack {
          display:none;
          position: absolute;
        }

        .fullScreenImages {
          position: absolute;
          width: 1.5em;
          height: auto;
          float: right;
          right: 1em;
          top: 1em;
          z-index: 7;

          &:hover {
            cursor: pointer;
          }
        }

        button {
          position: absolute;
          left: 100%;
          padding: 5% 3%;
          line-height: 1em;
          border-radius: 0px 5px 5px 0px;
          background: rgb(29, 35, 41);
          border: 2px solid black;
          color: #fff;

          &:nth-of-type(1) {
            top: 11%;
          }

          &:focus {
            border: none;
            outline: none;
          }
        }
      }

      .prodDescription {
        background-color: rgba(18, 22, 26, 0.815);
        margin: 0;
        padding: 1.5em 1em;

        hr {
          background: rgba(161, 161, 161, 0.418);
          width: 100%;
          height: 1px;
          border-radius: 5px;
          margin: 1em 0px;
        }

        h3 {
          font-size: 1.1rem;
          text-transform: uppercase;
          text-align: center;
          word-spacing: 0.3em;
          letter-spacing: 0.1em;
          font-weight: bold;
          width: 100%;
        }

        .details {
          display: flex;
          flex-direction: column;
          width: 100%;

          .details-column {
            display: flex;
            flex-direction: row;

            p {
              font-size: 1rem !important;
            }

            button {
              border: none;
              margin: 0;
              padding: 0px 5px 0px 0px;
              font-size: 1em;
              color: white;
              width: auto;
              font-weight: bold;
              display: none;

              &:hover,
              &:focus {
                color: $primaryColor;
                cursor: pointer;
                background: none;
                border: none;
                outline: none;
              }
            }
          }
        }

        .orderBtn {
          margin-top: 2em;
          width: 100%;
          padding: 0.5em;
          background: none;
          border: 1px solid white;
          color: white;
          text-transform: uppercase;
          font-size: 0.9rem;
          border-radius: 1px;
          text-align: center;

          &:hover {
            background: $primaryColor;
            color: black;
            border-color: $primaryColor;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.active {
  background: rgb(50, 61, 71) !important;
  z-index: 5;
  display: block;
}

.shown {
  display: block !important;
  z-index: 6;
}

#lightboxContainer {
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.678);
  ::selection {
    background: none;
  }
}

#lightboxImg {
  position: fixed;
  height: 60vw;
  width: auto;
  margin-top: 5vh;
}

.lightboxIcon {
  position: fixed;
  z-index: 10;
  width: 5em;
  height: auto;
  fill: white;
  cursor: pointer;
}

#prev {
  left: 3vw;
  padding: 2em 2em 2em 1em;
}

#next {
  right: 3vw;
  padding: 2em 1em 2em 2em;
}

// form
.order {
  margin-left: 3em;
  background: #000000a4;
  box-shadow: 0px 0px 10px 4px rgb(100, 3, 3);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  h3 {
    width: 100%;
    padding-top: 1em;
    text-align: center;
    text-transform: uppercase;
  }

  .orderContainer {
    width: 50% !important;
    margin: 0;
    margin-top: 2em;
    box-shadow: 0px 0px 5px 1px rgba(129, 129, 129, 0.678);
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    background: rgb(20, 0, 0);
    align-self: flex-start;

    h4 {
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 1vw 0px;
      font-weight: bold;
      color: $primaryColor;
    }

    .orderPicture {
      width: 30%;
    }

    .orderTitle {
      width: 70%;
      padding-left: 1vw;

      p {
        margin: 0;
      }
    }

    hr {
      background: rgba(78, 78, 78, 0.418);
      width: 100%;
      height: 1px;
      border-radius: 2px;
      margin-top: 0;
    }
  }
}

#lightboxContainer {
  z-index: 15 !important;
}

@media (min-width: 1600px) {
  @keyframes infoBoxAnimation {
    0% {
      top: 42vw;
    }
    100% {
      top: 40vw;
    }
  }
}

@media (min-width: 1000px) {
  #lightboxImg {
    height: 600px;
  }
}

@media (max-width: 570px) {
  .lightboxIcon {
    width: 4.5em;
  }

  #bgImg2 {
    display: grid;
  }
}
