name: Deploy Now

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to IONOS Deploy Now (v2)
        uses: ionos-deploy-now/deploy-now-action@v2
        with:
          api-key: ${{ secrets.IONOS_API_KEY }}
          project-id: ${{ secrets.IONOS_PROJECT_ID }}
          branch: master
          dist-folder: ./
